<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.is1431_prm392_group_project.is1431_prm392_group_project">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IS1431PRM392GroupProject"
        tools:targetApi="31">
        <activity
            android:name=".modules.exercise.controller.ExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".modules.auth.controller.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".modules.auth.controller.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".modules.auth.controller.ForgotPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".modules.home.controller.HomeMenu"
            android:exported="false"
            android:label="@string/title_activity_main2"
            android:theme="@style/Theme.IS1431PRM392GroupProject.NoActionBar" />
    </application>

</manifest>